<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
  <listeners>
    <listener class-name="main.java.fr.mediker.utils.SuiteListener"/>
  </listeners>
  <test name="Test Automation FireFox 1">
    <parameter name="browserName" value="firefox"/>
    <classes>
      <class name="test.java.SampleTest1">
        <parameter name="testName" value="Verify if user is redirected to login page"/>
      </class>
      <class name="test.java.SampleTest2"/>
    </classes>
  </test>
</suite>
